<div class="content-container">
    <p class="description">
        Accordion components can be implemented with or without frameworks. By adjusting margins, paddings, and applying uniform easing styles, you can achieve a similar look and feel for the expansion motion in both implementations.
    </p>
    <p class="description">
        These components are modular and utilize services that return observables for their data, aligning with common Angular design patterns.
    </p>
    <p class="commentary">
        For more commentary on this component, refer to the comments in the logic.
    </p>
    <div class="accordion-examples">
        <app-accordion></app-accordion>
    </div>
    <div class="library-commentary">
        <p>
            Originally, libraries like bootstrap existed to style common web elements nicely and offer UI components that developers had no real interest in designing from scratch. Overtime libraries have become increasingly more prescriptive: import some presets, create some defaults for various elements and have a nice application without doing much. Without considering the additional dependency, it's often challenging to account for UI edges cases or a desire to have creative/divergent layouts on different pages. Most library heavy applications look very similar, but can also be difficult to work with as some libraries have obfuscated basic ways of interacting with elements behind layers of seemingly unrelated pseudo-classes and layers of conflicting component. Design your application without libraries, but it is ok to leverage a lighter library for elements you may not care too much about or will replace later (like checkboxes).
        </p>
    </div>
</div>



      
